
h1{
    color: white;
    box-shadow: whitesmoke;
    display: inline-block;
    margin-left: 30px;
    border-radius: 10px;
    padding: 2px;
    font-size: 40px;
    margin-top: -1rem;
    font-family: " sans-serif";
    font-weight: 400px;
    font-style: normal;   
}

.navbar{
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #000000d4;
}


  .container1 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; /* Distribute space between items */
  }
  .content-container {
    flex: 1; /* Take up remaining space */
    padding: 20px;
  }

  .buttons-container {
    width: 15rem; /* Adjust as needed */
    height: 200px;
    background-color: #f1f1f1;
    border-right: 0 solid #ccc;
    margin-left: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    border: solid white;
}

button {
    text-align: left;
    display: inline-block;
    width: 90%;
    padding: 8px;
    margin-bottom: 5px;  
    cursor: pointer;
    border-radius: .5rem;
    background-color:#6c757d;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    color: white;  
    margin-left: 2px;
}
.scrollbar {
     margin-top: -1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    width: 100%;
    height: 80vh;
    border: solid white;
    margin: top 0;
    font-family: sans-serif;
  }

  .scrollbar::-webkit-scrollbar {
    width: 20px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }


body {
    overflow: hidden;   
    padding: 0;
    margin: 0;
    font-size: larger;
    line-height: 2;
}
ul{
  list-style-type: none; 
}
.colorButton.clicked {
  background-color: #28a745;
  border: #007bff;
}


.heading{
  text-align: center;
  border-radius: 5rem;
  color:red;  font-size:xx-large;
  font-weight: 600;
  font-family: sans-serif;
  /* box-shadow: #ccc; */
  background-color:#ccc;
}
.impterm{
  font-size: x-large;
} 
.subHeading{
  color: blue;
}
.question {
  font-size: 1.1rem; line-height: 1.6rem; font-weight: 400; 
}

.answer {
  display: none; color: green; font-weight: bold;
  margin-top: 10px;
  font-size: large;
}
.ansButton{
  width: 5rem;
  margin-left: 20%;
  background: purple;
  border-color:purple;
}
.ansButton:hover{
  background-color: #28a745;
}

  @media (max-width: 1024px) {
    .scrollbar {
      height: 70vh;
      overflow-y: auto; /* Vertical overflow handled */
      overflow-x: hidden; /* Horizontal overflow disabled */
    }
    .heading{
      display: none;
    }
  }

  #voiceNotes {
    position: relative;
    width: 5rem;
    text-align: center;
    left: 13rem; font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  #voiceNotes:hover {
    background-color: #0056b3;
    /* transform: scale(1.05); */
  }
  
  #VoiceNotes.playing {
    background-color: #28a745;
  }
  
  #voiceNotes.playing:hover {
    background-color: #1e7e34;
  }
  /* Fast forward */
  #fastForward {
    margin-left: 14rem;
    cursor: pointer;
    font-size: 20px;
    color: #007BFF;
  }
  
  #fastForward:hover {
    color: #0056b3;
  }