
h1{
    color: white;
    box-shadow: whitesmoke;
    display: inline-block;
    margin-left: 30px;
    border-radius: 10px;
    padding: 2px;
    font-size: 40px;
    margin-top: 3px;
    font-family: sans-serif;
    font-weight: 400px;
    font-style: normal;   
}
h2{
  color: red;
}

.navbar{
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #000000d4;
}
/* CSS for option */
  .option {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: inline;
    border: 1px solid #888;
    border-radius: 0.5rem;
    font-weight: 500;
  }
  .correct {
    background-color:green;
    color: white;
    border-radius: 0.5rem;
  }
  .incorrect {
    background-color: red;
    color: white;
    border-radius: 0.5rem;
  }
  #ReasonButton{
    background-color: green;
    height: 2.5rem;  
    width: 4.5rem;
    border:1px solid #888;
    border-radius: 0.5rem; 

  }

  #ReasonButton:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
/* End */
  .container1 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; /* Distribute space between items */
  }
  .content-container {
    flex: 1; /* Take up remaining space */
    padding: 20px;
  }

  .buttons-container {
    width: 200px; /* Adjust as needed */
    height: 200px;
    background-color: #f1f1f1;
    border-right: 0 solid #ccc;
    margin-left: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    border: solid white;
}

button {
    display: inline-block;
    width: 30%;
    padding: 8px;
    margin-bottom: 5px;  
    cursor: pointer;
    border-radius: 15px;
    background-color:#6c757d;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
    color: white;  
    margin-left: 2px;
}
.scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    width: 100%;
    height: 85vh;
    margin-left: 1rem;
    margin-top:-1rem;
    border: solid white;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
  }
  .scrollbar::-webkit-scrollbar {
    width: 20px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }


body {
    overflow: hidden;   
    padding: 0;
    margin: 0;
}

.colorButton.clicked {
  background-color: #28a745;
  border: #007bff;
}

/* POPUP TEXT  */

.popup {
  position:relative;   /*imp if you make position absolute apeka Poup nahi dikhaga   */
  cursor: pointer;     /*Absolute meh refrence point bilkul last point of screen    Relative meh scroll ko refrence leh raha hai */
  color: #555;
  margin-left: 20rem;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 25rem;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 2%;
  margin-left: -80px;  /*poup box kaha show hoga ya uska location btayaga */
}


/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  padding: 5px;
}
.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  display: flex;
  height: 5rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  justify-content: center;
  font-family: sans-serif;
  font-size: large;
}
/* Conclusion ka css */
.conclusion {
  background-color: #a3f1f1;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: sans-serif;
  font-size: large;
  margin-left: .4rem;
  line-height: 2rem;
}
.heading{
  color:blue; 
  font-size:large;
  font-weight: 700;
  font-family: sans-serif;
  /* box-shadow: #ccc; */
  background-color:#ccc;
}
.grid-container_2nd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  padding: 5px;
  width: 20rem;
}
/* personal pronoun */
.grid-container_3rd{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(5, 100px) ;  
  padding: 5px;
  width: 40rem;
  gap: 8px;
}
/* Active passive */
.grid-container_4th{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:auto;  /* ya line spacing meh problem create kr raha tha*/
  gap: 15px;
  padding: 5px;
  width: 40rem;
  row-gap: 15px;
}

.grid-item_1st{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    height: 3rem;
    align-items: center;
    text-align: center;
    font-weight: 700;
    justify-content: center;
    font-family: sans-serif;
    font-size: large;
  
}

