* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border do not affect width/height */
}


.hover{
    border-bottom: 2px dashed rgba(0, 0, 0, 0.42); /* Create the dashed bottom border */
    color:white;
    padding: 4px;
    font-weight: 500;
    font-family: sans-serif;
}
/* Revision mode ka property hai */
.changed {    /* yahi on of krta hai*/
  color: black;
  border: none;
}
#changeStyleBtn{
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bolder;  
  margin: 1px;
}
#changeStyleBtn:hover {
  background-color: #0056b3;
  /* transform: scale(1.05); */
}

div{
    font-size: 1.3rem;
    margin-left: 15px;
    margin-right: 12px;
    color: #003366;
    font-weight: 400;
    height: 60px; 
    font-family: sans-serif;   
}
span:hover{
    color: #050101;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 500;
    font-family: sans-serif;
}


#absolute{
    overflow: auto;
    left: 300px;
    position:absolute; 
}

h1{
    color: white;
    box-shadow: whitesmoke;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 4px;
    font-size: 30px;
    font-family:   sans-serif; 
    font-weight: 400px;
    font-style: normal;   
    background-color: #007bff;
    height: 2.5rem;
}



.buttons-container {
   scroll-behavior:smooth;
    width: 200px; /* Adjust as needed */
    height: 18rem;
    background-color: #f1f1f1;
    overflow-y: scroll;
    border-right: 0 solid #ccc;
    /* Updated CSS for aligning buttons to the right */
    margin-left: auto; /* Pushes buttons to the right */
}

button {
    /* display: inline-block; */
    width: 30%; padding: .5rem;
    margin-bottom: 5px;  
    cursor: pointer;
    border-radius: 15px;
    background-color:#6c757d;
    font-size: 15px; font-weight: 400;
    color: white;  
}
/* Button color change */
.colorButton.clicked {
  background-color: #28a745;
  border: #007bff;
}


.container1 {
    display: flex;
    height: 50px;
    margin-top: 4rem;
    border: black;
}

.navbar_bottom {
  background-color: #6c757d;
  /* background-color: whitesmoke; */
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Navbar ko fix karta hai */
  bottom: 0; /* Bottom par set karta hai */
  left: 0;   /* Left se bhi 0 set karega taaki puri width le */
  z-index: 1000; /* Ensure karta hai ki dusri elements ke upar rahe */
}


/*  */



/* Popup Button ka css */
.popup {
    position:absolute;
    left: 22%;
    display: inline-block;
    cursor: pointer;
    color: #555;
}
.popup :hover{
    color: purple;
}
  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 40rem;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px; padding: 1rem ;
    position: absolute;
    z-index: 1;
    bottom: 125%; margin-left: -5rem;
}
.popup .popupdown {
    visibility: hidden;
    width: 40rem;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px; padding: 1rem ;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    top: 100%; margin-left: -5rem;
}

  
  /* Popup box kaha appear hoga uska css hai*/
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%; left: 50%; border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .scrollbar {
    overflow-y: auto;
    scrollbar-width:20px;
    scrollbar-color: #888 ;
    width: 60rem;
    border:  solid white;
    height:82vh;
    position: relative;
  }

/*imp message -  scroll div ka position relative or popup ka absolute ka karan sara ak line meh hai. */


/* Nav bar property  */

.navbar {
  background-color: #000000d4;;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  display: flex; align-items: center; justify-content: space-between;
  position: fixed; 
  left: 0; z-index: 1; top: 0;
}



.navbar-nav {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  color: #343a40;
  padding: 1rem;
}

.nav-link:hover {
  color: #007bff;
}

.search-form {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px; margin-right: 10px;
  margin-bottom: 1.3px;width: 25rem;height: 2.5rem;
}

.btn {
  height: 2.5rem;width: 8rem;padding: 0.5rem;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
}

.btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Responsive styles */
/*  */


::-webkit-scrollbar {
  width:8px;  /* Adjust the width here */
}

::-webkit-scrollbar-thumb {
  background: #888;  /* Color of the scrollbar thumb */
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Color of the scrollbar thumb when hovered */
}
/* Spacing btween button and meaning */

/* Pronunceation  */
 
  .fa-microphone{
    font-size: 1.4rem;
  }
 
  #word::placeholder {
    color: rgba(0, 0, 0, 0.848); /* Change placeholder text color */
    font-size: large;
}


/* Button dikhaga ab mobile meh e vocab ka  */


@media (max-width: 750px) {    /* 750 ko decrease krna seh ve button container disappear ho jayaga*/
  html {
    font-size: 12px;   /* isko remove krna seh button container disappear ho jayaga*/
  }

  #absolute{
    overflow: auto;
    left: 15rem;
    position:absolute; 
}
  .scrollbar {
    width: 43rem;
    font-size: 0.8rem;
    /* overflow-x: hidden; */
  }

  .buttons-container {
    padding: 0%;
    width: 5rem;
    font-size:auto;
    overflow-x: hidden;
  } 
  .buttons-container button {
    font-size: x-small;
    padding: 0cap;
    margin-left: 5px;
    width: 3rem;
    height: 3rem;
  }
  
  .popup {
    /* position:relative; */
    /* left: 75%; */
    /* display: inline-block;
    cursor: pointer;
    color: #555; */
    display: none;
  }

  .search-form {
    width: 60%; 
  }
  

  .btn {
    width: auto; /* Buttons remain compact */
  }
  h1{
    color: white;
    margin-left: 1rem;
    border-radius: 10px;
    font-size: x-large;
    font-family:   sans-serif; 
    font-weight: auto;
    font-style: normal;   
    background-color: #007bff;
    height: 2.6rem;
  }

} 

 /* password on every page csss */

 .modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  justify-content: center;
  align-items: center;
}
.modal-content {
  height: fit-content;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}
.modal-content h4 {
 text-align: center;
 padding: 1rem;
}
.modal-content input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-content button {
  text-align: center;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content p {
font-size: small;
padding: 2px;
color: red;
}
/* end of page wise password */