/* auth.css */
@import "tailwindcss";

.auth_card {
    @apply max-w-md mx-auto mt-20 p-6 bg-white shadow-lg rounded-lg mb-10;
}

.container_flex {
    @apply flex flex-col items-center gap-3;
}

.row {
    @apply grid gap-3;
}
.col {
    @apply w-full text-center;
}
.auth_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth_header svg {
   @apply text-4xl text-blue-500 mx-auto;
}

.auth_header p {
    @apply text-xl font-semibold;
}

.auth_header span {
   @apply text-gray-500;
}

.otp_inputs {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.action {
    margin-top: 1rem;
}