<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for(let exam of Allexam) { %>
    <div class="card listing-card" style="width: 18rem">
      <a>
          <p class="card-text">
            <b><%= exam.Exam %></b> <br />
          </p>
      </a>
    </div>
    <% } %>
  </body>
</html>
