@import "tailwindcss";

/* index.css ya global.css me */
.card-wrapper {
    @apply cursor-pointer transition duration-300 hover:opacity-85 hover:shadow-lg active:scale-95;
}


body {
    background-color: #f5f5f5 !important;

}